<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/bootstrapStyles")%>
    <link rel="stylesheet" href="/styles/forgotPassword.css">
</head>
<body>
    <div class="main_container">
        <div class="recuperate_password_container">
            <div class="image_container">
                <%- include("partials/logo")%>
            </div>
            <%- include("partials/forgotPassword")%>
        </div>
    </div>
    <%- include("partials/bootstrapScript")%>
    <script src="/scripts/forgotPassword.js"></script>
</body>
</html>