<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/bootstrapStyles")%>
    <link rel="stylesheet" href="/styles/signin.css">
</head>
<body>
    <div class="loggin_container">
        <div class="image_container">
            <%- include("partials/logo")%>
        </div>
        <%- include("partials/signin")%>
    </div>
    <%- include("partials/bootstrapScript")%>
    <script src="/scripts/main.js"></script>
</body>
</html>